

.background {
  background-image: image-url("Green.jpg");
  background-size: 100% 100%;
}

.card_2 img {
  width: 160px;
  height: 160px;

}
.card_3 {
  font-size: 87px;
  font-family: Museo;
  padding: 60px;
}

.bannerh {
  background-color: #767676;
  padding: 0 10px
}

.team-names {
  padding:0 100px;
}

.card_5 {
  font-size: 87px;
  font-family: Museo;
  padding: 60px;
}
