<div id="footer">
  <span class="footer-left">
    Join Us:
    <a href="https://www.youtube.com/?hl=FR"><i class="fa fa-youtube"></i></a>
    <a href="https://www.instagram.com/?hl=fr"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=fr"><i class="fa fa-twitter"></i></a>
  </span>

  <span class="footer-right">@FootHacker, Inc.</span>
</div>
