<h1>Foootttttttt Hacker</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag "foot.jpg", class: 'home-img' %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h2>WELCOME THE FOOTBALL PLATFORME</h2>

      <p>« Texte » est issu du mot latin « textum », dérivé du verbe « texere » qui signifie « tisser ». Le mot s'applique à l'entrelacement des fibres utilisées dans le tissage, voir par exemple Ovide : « Quo super iniecit textum rude sedula Baucis = (un siège)</p>

      <div class="text-center">
        <a href="#" class="btn navbar-wagon-button home-btn" role="button" aria-disabled="true">Login In</a>
        <a href="#" class="btn navbar-wagon-button home-btn" role="button" aria-disabled="true">Sign Up</a>
      </div>
    </div>
  </div>
</div>
