<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="playercard text-center">
        <div class="banner_2"></div>
        <div class="photo_1"></div>
        <ul class="list-unstyled playertitle">
          <li><b>Paulo</b></li>
          <li>Dybala</li>
        </ul>
        <form class="rating-widget">
          <input type="checkbox" class="star-input" id="1"/>
          <label class="star-input-label" for="1">1
            <i class="fa fa-star"></i>
            <i class="fa fa-star orange"></i>
          </label>
          <input type="checkbox" class="star-input" id="2"/>
          <label class="star-input-label" for="2">2
            <i class="fa fa-star"></i>
            <i class="fa fa-star orange"></i>
          </label>
          <input type="checkbox" class="star-input" id="3"/>
          <label class="star-input-label" for="3">3
            <i class="fa fa-star"></i>
            <i class="fa fa-star orange"></i>
          </label>
          <input type="checkbox" class="star-input" id="4"/>
          <label class="star-input-label" for="4">4
            <i class="fa fa-star"></i>
            <i class="fa fa-star orange"></i>
          </label>
          <input type="checkbox" class="star-input" id="5"/>
          <label class="star-input-label" for="5">5
            <i class="fa fa-star"></i>
            <i class="fa fa-star orange"></i>
          </label>
        </form>
        <div class="items">
          <button class="contact" id="main-button">Last</button>
          <button class="contact" id="main-button">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
