// Your footer style
#footer {
  background: #232528;
  color: #fafffd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7em;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: #fafffd;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: #0d79c9;

}
#line {
  padding: 0px;
  border-top: solid 1px #767676 !important;
  width: 90%;
  padding-top: 40px;
  align: center;
}
#list-inline {
  color: white;

}
