<h1>Profile#edit</h1>
<p>Find me in app/views/profile/edit.html.erb</p>
<div class="text-center">
<h1>Please Pick Your Favorite Football Team</h1><br>



<form action="link_to, games_path" method="post">
  <label for="action">Options:</label>
  <select name="action" id="action">
    <option value="Paris Saint-Germain">Paris Saint-Germain</option>
    <option value="Olympique de Marseille">Olympique de Marseille</option>
    <option value="Olympique Lyonnais">Olympique Lyonnais</option>
    <option value="AS Monaco">AS Monaco</option>
  </select>
  <button type="submit" name="submit" value="submit">Yes, I Pick This Team </button>
</form>
</div>
